<h1>ContactPage#index</h1>
<p>Find me in app/views/contact_page/index.html.erb</p>

<div class="product_left">
    <p>Put photo here</p>
</div>
<div class="product_right">
    <p>Put phone number, email, and 'about information' here.</p>
</div>