<div class="product_left">
    <div id="contact-image">
        <%= image_tag "portrait.jpg", :width => "100%" %>
    </div>
</div>
<div class="product_right">
    <div id="product-description">
        <h1 class="product-title">Contact / About / Requests</h1>
        <p>Put phone number, email, and 'about information' here.</p>
    </div>
</div>