<div class="product_left">
    <div id="contact-image">
        <%= image_tag "portrait.jpg", :width => "100%" %>
    </div>
</div>
<div class="product_right">
    <div id="product-description">
        <h1 class="product-title">Contact / About / Requests</h1>
        <p>
            I was raised in the south central region of Pennsylvania which is Amish country.
            Being brought up on a farm, all we built was from scratch, hand-made. With this
            background, I learned my woodworking skills early in life.
        </p>
        <p>
            I started relief carving in the 80’s which I pursued for ten years. After moving to
            Texas, I encountered pieces of woodwork made from mesquite. I was hooked! I
            have worked with a wide variety of wood (oak, basswood, butternut, teak, and
            walnut) but have never seen a wood that matches the beauty of mesquite.
        </p>
        <p>
            I am a member of the Combat Vets Motorcycle Association (CVMA), life member
            of the VFW and a proud supporter of the Patriot Guard Riders (PGR) and Blue Star
            Moms
        </p>
        <b><a href="mailto:hangel0505@gmail.com">hangel0505@gmail.com</a></b>
        <h4>
            (361) 945 - 1400
        </h4>
    </div>
</div>