<div class="product_left">
    <div id="contact-image">
        <%= image_tag "portrait.jpg", :width => "100%" %>
    </div>
</div>
<div class="product_right">
    <div id="product-description">
        <h1 class="product-title">How to care for your sculpture</h1>
        <p>Put care instructions here.</p>
    </div>
</div>