<div class="product_left">
    <div id="contact-image">
        <%= image_tag "portrait.jpg", :width => "100%" %>
    </div>
</div>
<div class="product_right">
    <div id="product-description">
        <h1 class="product-title">How to care for your sculpture</h1>
        <p>
            There are seven varieties of mesquite in Texas. It is one of the hardest and
            densest woods in the United States. If you ever get a chance, look up the history
            of mesquite. It has a long history which is very interesting reading.
        </p>
        <h2> Tung Oil Treatment </h2>
        <p>
            Wipe the entire surface off with a soft, lint-free cloth. Take another disposable rag
            and apply a small amount of Tung Oil. Rub entire surface of the piece until coated
            evenly. Allow piece to set for 12 to 24 hours and (this is important) wipe surface
            off with a dry cloth. This process should be done a few times a year at least and
            may be done as frequently as you wish to bring out the richness of the wood. It
            is important to wipe off excess oil to prevent the excessive buildup of the natural
            waxes in the Tung Oil
        </p>
        <h2>Exposure to Sunlight</h2>
        <p>
            If a piece is exposed to too much direct sun light it may get some roughness on
            the surface. This is caused from the waxes in the oil hardening. Simply get some
            0000 grit steel wool or 1000 grit sandpaper and rub until surface is smooth again.
            Wipe the white powder off as much as possible the re-apply more Tung Oil. Do
            not be too concerned if some of the white wax powder is left behind, it will be
            reabsorbed into the new oil.
        </p>
    </div>
</div>