<%= render :partial => 'images', :locals => { :products => @products } %>
<%= render :partial => 'product_row', :locals => { :products => @products[0..2] } %>
<div class="block blank_space"><li id="link-to-cart" data-hook><%= link_to_cart %></li></div>
