<%= render :partial => 'images', :locals => { :products => @products } %>
<h5>
    My goal in sculpting is quite simple; bring out the natural beauty of the wood. I
    have worked with a wide variety of woods over the years and without any doubt,
    mesquite is the most characteristic and unique that I have ever encountered.
</h5>
<br>
<h5>
    My style of sculpting is simple, Free-style. As with the outside circumference of
    mesquite, nothing is uniform or symmetrical. I strive to follow the contours and
    deformities as much as possible. To accomplish this task, I incorporate the use of
    chisels, grinders and drills but not lathes, hence, hand-carving and power-carving.
    I try to sand each piece to 800 grit and finish off with up to eight coats of Tung Oil.
    This helps to maintain the natural softness and warmth of the wood to the touch.
</h5>